.container{
    display: flex;
    margin: 2rem 2rem;
    height:auto;
    position: relative;
    
    .newTask{
      width: 40%;
      height: 100%;
      border : 1px solid black;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s;
      }
    }
    .todoList{
      width: 60%;
      height: 100%;
      border : 1px solid black;
  
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: all 0.5s;
    }
  @media screen and (max-width : 900px){ 
    .container{
      display: flex;
      flex-direction: column;
      .newTask{
        width: 100%;
      }
      .todoList{
        width: 100%;
      }
    }
    
  }